
<span class="text">参加数</span>
<span class="num"><%= @user_prof.joins.count %></span>

<% if @user_prof.joins.empty? %>
  <div class="list-group-item">
    行動力低いな
  </div>
<% end %>

<% @user_prof.joins.map { |f| f.event }.each do |event| %>
  <h4 class="user">
    <span class="user-name">
      <%= link_to event.title, event_path(event.id) %>
    </span>
    <span class="user-id"><%= event.title %></span>
  </h4>
  <div class="event-body">
    <%= event.body %>
  </div>
<% end %>
